a, a:visited, a:active {
  color: #444;
}

.container {
  max-width: 1400px;
  max-height: 1024px;
  margin: auto;
}

.button {
  min-width: 130px;
  padding: 2px 3px;
  cursor: pointer;
  text-align: center;
  font-size: 11px;
  border: 1px solid #e0e0e0;
  text-decoration: none;
}
.button.button1 {background-color:#3957ff;}
.button.button2 {background-color:#d3fe14;}
.button.button3 {background-color:#c9080a;}
.button.button4 {background-color:#fec7f8;}
.button.button5 {background-color:#0b7b3e;}
.button.button6 {background-color:#0bf0e9;}
.button.button7 {background-color:#c203c8;}
.button.button8 {background-color:#fd9b39;}
.button.button9 {background-color:#888593;}
.button.button10 {background-color:#906407;}
.button.button11 {background-color:#98ba7f;}
.button.button12 {background-color:#fe6794;}
.button.button13 {background-color:#10b0ff;}
.button.button14 {background-color:#ac7bff;}
.button.button15 {background-color:#fee7c0;}
.button.button16 {background-color:#964c63;}
.button.button17 {background-color:#1da49c;}
.button.button18 {background-color:#0ad811;}
.button.button19 {background-color:#bbd9fd;}
.button.button20 {background-color:#fe6cfe;}
.button.button21 {background-color:#297192;}
.button.button22 {background-color:#d1a09c;}
.button.button23 {background-color:#78579e;}
.button.button24 {background-color:#81ffad;}
.button.button25 {background-color:#739400;}
.button.button26 {background-color:#ca6949;}
.button.button27 {background-color:#d9bf01;}
.button.button28 {background-color:#646a58;}
.button.button29 {background-color:#d5097e;}
.button.button30 {background-color:#bb73a9;}
.button.button31 {background-color:#ccf6e9;}
.button.button32 {background-color:#9cb4b6;}
.button.button33 {background-color:#b6a7d4;}
.button.button34 {background-color:#9e8c62;}
.button.button35 {background-color:#6e83c8;}
.button.button36 {background-color:#01af64;}
.button.button37 {background-color:#a71afd;}
.button.button38 {background-color:#cfe589;}
.button.button39 {background-color:#d4ccd1;}
.button.button40 {background-color:#fd4109;}
.button.button41 {background-color:#bf8f0e;}
.button.button42 {background-color:#2f786e;}
.button.button43 {background-color:#4ed1a5;}
.button.button44 {background-color:#d8bb7d;}
.button.button45 {background-color:#a54509;}
.button.button46 {background-color:#6a9276;}
.button.button47 {background-color:#a4777a;}
.button.button48 {background-color:#fc12c9;}
.button.button49 {background-color:#606f15;}
.button.button50 {background-color:#3cc4d9;}
.button.button51 {background-color:#f31c4e;}

.button.active {
  background: #000;
  color: #fff;
}


#vis {
  width: 1400px;
  height: 1024px;
  clear: both;
  margin-bottom: 10px;
}

#toolbar {
  margin-top: 10px;
}

.year {
  font-size: 21px;
  fill: #aaa;
  cursor: default;
}
.state {
  font-size: 21px;
  fill: #aaa;
  cursor: default;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
	opacity: .9;
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

.footer {
  text-align: center;
}
